Service References/CTrack.Membership/Membership1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sales.ctrack.co.uk/CtrackAPI/Membership.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" />
  <xs:element name="AcquireSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="AcquireSecurityTokenResult" nillable="true" type="q1:Validation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="ValidateTokenResult" nillable="true" type="q3:ValidToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetBusinessGroupsResult" nillable="true" type="q4:ArrayOfBusinessGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetProductsFeaturesResult" nillable="true" type="q5:ArrayOfProductFeatures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullUserSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullUserSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetFullUserSettingsResult" nillable="true" type="q6:UserSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetAllCostCenterDetailsbyUserIDResult" nillable="true" type="q7:ArrayOfCostCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyBusinessGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyBusinessGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetAllCostCenterDetailsbyBusinessGroupIdResult" nillable="true" type="q8:ArrayOfCostCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireSecurityTokenRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireSecurityTokenRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="AcquireSecurityTokenRestResult" nillable="true" type="q9:Validation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetUserDetailsRestResult" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseSecurityTokenRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseSecurityTokenRestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="ValidateTokenRestResult" nillable="true" type="q11:ValidToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFeaturesRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFeaturesRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetProductsFeaturesRestResult" nillable="true" type="q12:ArrayOfProductFeatures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessGroupsRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessGroupsRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetBusinessGroupsRestResult" nillable="true" type="q13:ArrayOfBusinessGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullUserSettingsRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullUserSettingsRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetFullUserSettingsRestResult" nillable="true" type="q14:UserSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyUserIDRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyUserIDRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetAllCostCenterDetailsbyUserIDRestResult" nillable="true" type="q15:ArrayOfCostCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyBusinessGroupIdRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostCenterDetailsbyBusinessGroupIdRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DCT.CtrackExternalAPI.Model" minOccurs="0" name="GetAllCostCenterDetailsbyBusinessGroupIdRestResult" nillable="true" type="q16:ArrayOfCostCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>